<html>
  <head>
    <meta charset="UTF-8" />
    <title>Confirmación de compra</title>
  </head>
  <body>
    <h1>Confirmación de compra</h1>
    <p>¡Hola {{userName}}!</p>
    <p>Gracias por tu compra en nuestra tienda. A continuación, encontrarás los
      detalles de tu compra:</p>

    <h2>Tu orden de compra es la n°: {{ticketId}}</h2>

    <p>El monto total fue de: ${{montoTotal}}</p>

    <p>Gracias por elegir nuestros productos. Esperamos que disfrutes de tu
      compra.</p>
    <p>¡Hasta la próxima!</p>
  </body>
</html>