<html>
  <head>
    <meta charset="UTF-8" />
    <title>Confirmación de compra</title>
  </head>
  <body>
    <h1>Confirmación de compra</h1>
    <p>¡Hola {{userName}}!</p>
    <p>El detalle de tu compra es el siguiente:</p>

    <h2>Orden de compra n°: {{ticketId}}</h2>

    <p>Monto Total, expresado en pesos Argentinos, fue de: ${{montoTotal}}</p>

    <p>Gracias por tu compra! Vuelva prontos!</p>
  </body>
</html>