<nav class="navBarAdmin">
  <div class="LogoAdmin">
    <a href="/"> <p>PARQUE DE MAQUINARIAS</p></a>
  </div>
  <ul>
    <a href="/products"><li>Manager Productos</li></a>
    <li>Manager Carritos</li>
    <a href="/" target="_blank"><li>Manager Tickets</li></a>

  </ul>
  <div class="logoutContainer">
    <button id="loguotButton">Logout</button>
  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/logout.js"></script>