<nav class="navBar">
  <ul>
    <div class="Logo">
      <a href="/"> <p>PARQUE DE MAQUINARIAS</p></a>
    </div>

    <div class="divsSing">
      <div class="enlaces">
        <ul>
          <a href="/products"><li>PRODUCTOS</li></a>

          <a href="/manager"><li>MANAGER</li></a>
          <a
             href="/premium"
          ><li>HACETE PREMIUM</li></a>

        </ul>
      </div>
      <div>
        <a href="/cart"><li>CART</li></a>
      </div>
      <div class="logoutContainer">
        <button id="loguotButton">Logout</button>
      </div>

    </div>

  </ul>
</nav>
<div class="carousel">
  <div class="carousel-container">
    <div class="carousel-slide">
      <p class="sushi">LAS MEJORES MARCAS <br /></p>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/productHandler.js"></script>
<script src="/js/logout.js"></script>