<h1>Manager</h1>
{{#if user}}
  <div class="saludo">
    <h1>Hola {{user.name}} ! </h1>
    <p>Rol: {{user.role}}</p>
  </div>
  <div class="logoutContainer">
    <button id="loguotButton">Logout</button>
  </div>

{{/if}}
  <div class="LogoAdmin">
  </div>
  <ul>
    <a href="/manager"><li>Manager Productos</li></a>
    <a href="/userManager"><li>Users Manager</li></a>

  </ul>
  <div class="logoutContainer">
    <button id="loguotButton">Logout</button>
  </div>

<div class="productManager">

  <div class="creadorDeProductos">
    <h2>Crear un producto</h2>
    <form id="productForm">

      <label>Title</label>
      <input type="text" name="title" />

      <label>Description</label>
      <input type="text" name="description" />

      <label>Code</label>
      <input type="text" name="code" />

      <label>Stock</label>
      <input type="number" name="stock" />

      <label>Price</label>
      <input type="number" name="price" />

      <label>Category</label>
      <input name="category" />

      <button type="submit">Create</button>

    </form>
  </div>
  <div class="visualizadorDeProductos">
    <h2>Mis Productos</h2>
    {{#each myProducts}}
      <div class="cadaProducto">
        <p>{{title}}</p>
        <button data-product-id={{_id}} class="bottonEliminar">Eliminar</button>
      </div>

    {{/each}}
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/logout.js"></script>
<script src="/js/createProduct.js"></script>