<h1>Escribe tu correo</h1>

<form id="restoreRequestForm">
    <input type="text" name="email">
    
    <button type="submit" id="submitter">Enviar</button>
</form>
<p id="message"></p>

<script src="/js/restoreRequest.js"></script>