<nav class="navBar">
  <ul>
    <div class="Logo">
      <a href="/"> <p>PARQUE DE MAQUINARIA</p></a>
    </div>

    <div class="divsSing">
      <div class="enlaces">
        <ul>
          <a href="/products"><li>PRODUCTOS</li></a>
          <a href="/manager"><li>MANAGER</li></a>
         <a  href="/premium"><li>HACETE PREMIUM</li></a>
        </ul>
      </div>
      <div>
        <a href="/cart"><li>CART</li></a>
      </div>
      <div class="logoutContainer">
        <button id="loguotButton">Logout</button>
      </div>

    </div>

  </ul>
</nav>
<div class="thanks">
  <p class="saludo">GRACIAS POR ELEGIRNOS!!</p>

</div>

<script src="/js/logout.js"></script>