* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightseagreen;
  overflow-x: hidden;
}
.logoutContainer {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logoutContainer button {
  background-color: transparent;
  border: 2px solid black;
  width: 100px;
  height: 30px;
  border-radius: 40px;
  color: black;
  cursor: pointer;
}
.banner {
  width: 100vw;
  height: calc(100% - 100px);
  position: relative;
}
.banner p {
  position: absolute;
  color: black;
  font-size: 70px;
  bottom: 60px;
  left: 100px;
}
.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide {
  width: 100%;
  height: 100vh;
  position: relative;
}
.maybe {
  position: absolute;
  color: black;
  bottom: 80px;
  left: 100px;
  font-size: 100px;
  margin-top: 10px;
}
.sushi {
  position: absolute;
  color: black;
  bottom: 170px;
  left: 100px;
  font-size: 100px;
  font-weight: 400;
  line-height: 100px;
}

.carousel-slide img {
  width: 100vw;
  height: auto;
}
.carousel-promo {
  width: 70%;
  overflow: hidden;
}

.carousel-container-promo {
  width: 100%;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide-promo {
  width: 100%;
  height: auto;
}

.carousel-slide-promo img {
  width: 70vw;
  height: auto;
}

.titulo2 {
  width: 100vw;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.titulo2 h2 {
  font-size: 40px;
}
.locales {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.imgContainer div {
  width: 50%;
  margin: 3px;
  overflow: hidden;
  position: relative;
}
.imgContainer div button {
  position: absolute;
  bottom: 40px;
  left: 80px;
  background-color: lightseagreen;
  border: 2px solid black;
  width: 150px;
  height: 50px;
  border-radius: 40px;
  color: black;
  cursor: pointer;
  font-size: 20px;
}
.imgContainer img {
  width: 100%;
}
.imgContainer div:hover > img {
  filter: opacity(0.5);
  transform: scale(1.1);
  transition-duration: 1s;
}
.linksHome {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
footer {
  width: 100vw;
  height: 100px;
  background-color: lightseagreen;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer i {
  font-size: 30px;
  margin-right: 20px;
}
