* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightseagreen;
  color: black;
  justify-content: center;
  overflow-x: hidden;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
h1 {
  padding-top: 30px;
  margin-bottom: 30px;
}
.loginDiv {
  width: 30vw;
  height: 40vh;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logoGit i {
  font-size: 30px;
  padding-bottom: 15px;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
label {
  margin-bottom: 10px;
}
input {
  height: 30px;
  border-radius: 15px;
  margin-bottom: 10px;
  width: 70%;
  text-indent: 15px;
}
button {
  background-color: transparent;
  border: 2px solid black;
  width: 100px;
  height: 30px;
  border-radius: 40px;
  color: black;
  margin-top: 20px;
}
a {
  color: black;
  text-decoration: none;
}
