* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightseagreen;
  overflow-x: hidden;
}
#product-container {
  width: 80vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: lightseagreen;
}
.titulo {
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cardContainer {
  flex-basis: 30%;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 200px;
  height: 300px;
  border-radius: 15px;
  background-color: lightgrey;
  margin-left: 15px;
  cursor: pointer;
  margin-bottom: 30px;
}
.price {
  color: black;
}
.imgConteiner {
  width: 100px;
}
.imgConteiner img {
  width: 100%;
  object-fit: cover;
}
